<div class="containerAll">
  <p-toast></p-toast>
  <div class="containerPdfFile">
    <p-scrollPanel [style]="{width: '100%', height: '100%'}">
      <div class="container" #DowloadPDF (window:beforeunload)="doUnload()" (window:unload)="doUnload()">
        <pdf-viewer [src]="url" [render-text]="true" [fit-to-page]="true" id="pdf"
          (after-load-complete)="callBackFn($event)" style="display: block;">
        </pdf-viewer>
        <canvas #drawingFreeCanvas class="canvas"></canvas>
        <canvas #shapeCanvas class="canvas"></canvas>
        <canvas #drawingCanvas class="canvas"></canvas>
      </div>
    </p-scrollPanel>
  </div>

  <div class="card">
    <p-menu [model]="option"></p-menu>
  </div>

  <div class="divs" *ngIf="doc.statuse==3 && marker">
    <div id="prop1">
      <button (click)="dowloadPDFunc()">DowloadPDF</button>
      <h3>
        The Marker Text
      </h3>
      <textarea readonly style="border: none;" rows="11.5" cols="67">{{marker.myText}}</textarea>
    </div>
  </div>

  <p-dialog [(visible)]="flageShare" [style]="{width: '450px'}" header="Create Share" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <app-create-share></app-create-share>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    </ng-template>
  </p-dialog>

  <div class="card2" *ngFor="let item of selectMarkers | keyvalue">
    <p-dialog [(visible)]="item.value" (onHide)="Close(item.key)" [style]="{width: '20%'}" position="25vh,25vh"
      position="top-left" header="Document Styles" styleClass="p-fluid">
      <ng-template pTemplate="content">
        <app-style-marker [markerID]="item.key"></app-style-marker>
      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Remove" icon="pi pi-times" class="p-button-text"
          (click)="remove(item.key)"></button>
        <button pButton pRipple label="Close" icon="pi pi-check" class="p-button-text"
          (click)="Close(item.key)"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>