.card {
    position: fixed;
    right: 5%;
    top: 12%
}

.canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
}

.container {
    width: 700px;
    position: absolute;
}

button {
    margin-top: 15px;
    color: rgb(235, 184, 17);
    height: 30px;
    border: 1px solid rgb(5, 113, 163);
    border-radius: 10px;
    text-align: center;
    margin-left: 3%;
}

#prop2 {
    position: fixed;
    top: 100px;
    left: 10px;
    float: left;
    width: 100%;
    height: 30%;
}

#prop1 {
    position: fixed;
    top: 30px;
    margin-top: 50px;
    left: 10px;
    width: 100%;
    height: 10%;
}

label, input {
    margin-top: 20px;
}

.divs {
    float: right;
    width: 55%;
    direction: ltr;
}

.pdf {
    right: 30px;
}

#myText {
    margin-left: 10px;
}

h3 {
    color: rgb(235, 184, 17);
    margin-left: 10px;
}

td, th {
    height: 35px;
    width: 25%;
    margin-right: 100px;
}

tr {
    width: 25%;
    color: rgb(5, 113, 163);
}

th {
    background-color: rgb(235, 184, 17, 0.3);
}

table {
    width: 40%;
    border: 1px solid rgb(235, 184, 17);
    text-align: center;
    margin-right: 500px;
    margin-left: 20px;
    margin-top: 80px;
    background-color: rgb(5, 113, 163, 0.1);
}

td {
    color: rgb(235, 184, 17);
}

.icons {
    margin-right: 20px;
}

.card ::ng-deep .p-button {
    background-color: transparent;
    color: rgb(5, 113, 163);
    border: none
}

.card ::ng-deep .p-button.p-button-icon-only {
    width: 250px !important;
    height: 40px;
}

.card ::ng-deep .pi:before {
    font-size: 27px;
    color: rgb(5, 113, 163);
}

.card ::ng-deep .p-component, .p-component {
    border: none;
}

.card ::ng-deep .p-menu .p-menuitem-link {
    align-items: center;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    margin-top: 10%;
}

.containerPdfFile {
    width: 700px;
    margin-left: 15%;
    height: 550px;
    /* overflow-x: auto; */
    margin-top: 2% !important;
    /* overflow-y: auto; */
    margin-top: 10px;
    background-color: white;
    border: 1px, solid, turquoise;
}

.input.p-colorpicker-preview.p-inputtext.ng-tns-c18-11.ng-star-inserted {
    width: 3%;
    right: 2%;
}

.card2 ::ng-deep .p-dialog-footer.ng-tns-c9-9.ng-star-inserted {
    padding: 0 1.5rem 1.5rem 0.5rem !important;
}

.card2 ::ng-deep .p-dialog .p-dialog-header {
    height: 0px !important;
}

.card2 ::ng-deep .p-dialog {
    position: absolute !important;
}

.card2 ::ng-deep .p-dialog ::ng-deep .ng-trigger.ng-trigger-animation.ng-tns-c9-10.p-fluid.p-dialog.p-component.p-dialog-draggable.p-dialog-resizable.ng-star-inserted {
    left: 25px !important;
    top: 25px !important;
}@media print {
    .container {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    .card *{display: none !important;}
    .page{ page-break-after: always !important; }
    .containerPdfFile {
    }
}