<div *ngIf="markerID">
    <button pButton pRipple icon="pi pi-palette" pTooltip="back Color" tooltipEvent="hover" tooltipPosition="bottom"
        class="styleIcon" [ngStyle]="{'color':'marker.backColor'}"></button>
    <input type="color" [(ngModel)]="marker.backColor" (change)="saveChanges()" />
    <button pButton pRipple icon="pi pi-palette" pTooltip="fore Color" tooltipEvent="hover" tooltipPosition="bottom"
        class="styleIcon" [ngStyle]="{'color':'marker.foreColor'}"></button>
    <input type="color" [(ngModel)]="marker.foreColor" (change)="saveChanges()" />
    <h3>Text</h3>
    <textarea id="myText" [(ngModel)]="marker.myText" (change)="saveChanges()" rows="5" cols="25"></textarea>
</div>