<div class="login-body">
    <form [formGroup]="DocumentForm" (ngSubmit)="onSubmit()">
        <div class="login-panel p-fluid">
            <div class="login-panel-content">
                <div class="p-grid">
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText formControlName="DocumentName">
                            <label>Document name</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input id="float-input" type="file" (change)="fileChangeEvent($event)" pInputText
                                formControlName="DocumentUrl">
                            <label for="float-input">Document Url</label></span>
                    </div>
                    <div class="p-col-12">
                        <button type="submit" icon="pi pi-save" label="save" class="p-button p-component">
                            <span class="p-button-icon p-button-icon-left pi pi-user" aria-hidden="true"></span>
                            <span class="p-button-label">Save</span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>