login-body {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-body .login-panel .login-panel-header {
    background-color: #607D8B;
    text-align: center;
    padding: 8px 14px;
}

.login-body .login-panel .login-panel-content {
    padding: 10px 20px;
}

.login-body .login-panel .login-panel-content h1 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.p-col-12 {
    margin-top: 10px;
}