<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pTooltip="add new document" tooltipPosition="bottom" tooltipEvent="hover" pButton pRipple
                label="New" icon="pi pi-plus" class="p-button-success p-mr-2" showDelay="1000" hideDelay="500"
                (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedFiles()"
                [disabled]="!selectedDoc " pTooltip="remove all selected" tooltipEvent="hover"
                tooltipPosition="bottom"></button>
            <button pButton pRipple icon="pi pi-share-alt" class="p-button-danger"
            [disabled]="!selectedDoc " pTooltip="create share for all selected" tooltipEvent="hover" 
            tooltipPosition="bottom"
                (click)="openShare()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="mapDoc | keyvalue" [rows]="5" [paginator]="true"
        [globalFilterFields]="['value.documentName','value.userID','value.dataString','value.statuse']"
        [(selection)]="selectedDoc" [rowHover]="true" dataKey="value.docID"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="value.documentName">Name<p-sortIcon field="value.documentName"></p-sortIcon>
                </th>
                <th pSortableColumn="value.userID">Owner<p-sortIcon field="value.userID"></p-sortIcon>
                </th>
                <th pSortableColumn="value.dataString">Last modified<p-sortIcon field="value.dataString"></p-sortIcon>
                </th>
                <th pSortableColumn="value.statuse">Level Sharing<p-sortIcon field="value.statuse"></p-sortIcon>
                </th>
                <th style="width: 200px !important;"></th>
            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-file>
            <tr>
                <td>
                    <p-tableCheckbox [value]="file" [disabled]="file.value.statuse!=1"></p-tableCheckbox>
                </td>
                <td>{{file.value.documentName}}</td>
                <td>{{userIDString(file.value.userID)}}</td>
                <td>{{file.value.dataString}}</td>
                <td>{{statuseStringFunc(file.value.statuse)}}</td>

                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        pTooltip="open to drawing" (click)="ToDrawing(file.key)"></button>
                    <button pButton pRipple icon="pi pi-share-alt" class="p-button-rounded p-button-success p-mr-2"
                        pTooltip="create share" (click)="createShare(file.key)"
                        [disabled]="file.value.statuse!=1"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        pTooltip="remove document" (click)="deleteFile(file.value)"
                        [disabled]="file.value.statuse!=1"></button>
                    <button pButton pRipple icon="pi pi-eye-slash" class="p-button-rounded p-button-warning"
                        *ngIf="IdDocEye!=file.key" pTooltip="show details" (click)="openDetails(file.value)"></button>
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning"
                        pTooltip="close details" *ngIf="IdDocEye==file.key" (click)="closeDetails()"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{mapDoc ? mapDoc.size : 0 }} files.
            </div>
        </ng-template>
    </p-table>
</div>

<div class="containerPdfFile">
    <p-scrollPanel [style]="{width: '100%', height: '100%'}">
        <div>
            <pdf-viewer [src]="imageUrl" class="PdfFile" [render-text]="true" [fit-to-page]="true" *ngIf="imageUrl"
                id="pdf" style="display: block;">
            </pdf-viewer>
            <img src="assets/color3.png" class="PdfFile" *ngIf="!imageUrl" style="width: 100%;" />
        </div>
    </p-scrollPanel>
</div>

<p-dialog [(visible)]="fileCreateDialog" [style]="{width: '450px'}" header="Document Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-create-document-pdf></app-create-document-pdf>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="createShareFlage" [style]="{width: '450px'}" header="Create Share" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-create-share></app-create-share>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>