.card ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    padding: 0.8em 0.8em !important;
    font-size: 80%;
}

.card ::ng-deep thead.p-datatable-thead {
    font-size: 20%;
}

.card ::ng-deep .p-button-danger {
    margin-right: 5px;
}

.card {
    width: 60%;
    float: left;
    /* margin-top: 3%; */
}

.containerPdfFile {
    width: 35%;
    margin-left: 5%;
    float: left;
    height: 50%;
    height: 500px;
    border: 2px solid;
    overflow-x: auto;
    margin-top: 3% !important;
    overflow-y: auto;
    margin-top: 10px;
}

.pdfFile {
    border: 1px solid rgb(5, 113, 163);
}

.card ::ng-deep .p-button.p-button-help, .p-buttonset.p-button-help>.p-button, .p-splitbutton.p-button-help>.p-button {
    height: 30px;
}

.card ::ng-deep thead.p-datatable-thead {
    font-size: 80%;
}

.card ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    height: 2rem;
    width: 2rem;
    font-size: 65%;
    margin-right: 0.5rem !important;
}

.card ::ng-deep p-toolbar-group-left ng-star-inserted {
    height: 40px;
    font-size: 80%;
}

.card ::ng-deep span.p-button-icon.pi {
    font-size: 15px;
}

.card ::ng-deep .p-datatable .p-datatable-header {
    height: 57px;
    padding: 0.5rem 0.5rem;
}

.card ::ng-deep .p-mb-4.p-toolbar.p-component {
    height: 57px;
}

.card ::ng-deep .p-toolbar {
    padding: 0.5rem;
}

.card ::ng-deep .p-fluid {
    overflow-y: auto;
    overflow-x: auto;
}