img {
    height: 15%;
    width: 15%;
}

.login-body {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-body .login-panel .login-panel-header {
    background-color: #C8E6C9;
    text-align: center;
    padding: 8px 14px;
}

.login-body .login-panel .login-panel-content {
    padding: 50px 100px;
}

.login-body .login-panel {
    width: 550px;
    height: 480px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -275px;
    margin-top: -240px;
    padding: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
}

.login-body .login-panel .login-panel-content h1 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    color: #699668;
}

.p-col-12 {
    margin-top: 10px;
    color: #699668;
}

.login-body::ng-deep .p-button {
    background-color: #78bf7c !important;
    border-color: #78bf7c !important;
}

.login-body ::ng-deep .p-float-label>label {
    color: #699668 !important;
}