<p-toast></p-toast>
<div class="login-body">
    <form [formGroup]="UserForm" (ngSubmit)="onSubmit()">
        <div class="login-panel p-fluid">
            <div class="login-panel-header">
                <img src="assets/color.png">
            </div>
            <div class="login-panel-content">
                <div class="p-grid">
                    <div class="p-col-12">
                        <h1>Sign-in to Serenity Network</h1>
                    </div>
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText formControlName="userName"
                                [disabled]='!UserForm.valid'>
                            <label>User name</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText formControlName="userID">
                            <label for="float-input">Password (email adresss)</label></span></div>
                    <div class="p-col-12">
                        <button type="submit" icon="pi pi-user" label="Sign In" class="p-button p-component"
                            [disabled]='!UserForm.valid'>
                            <span class="p-button-icon p-button-icon-left pi pi-user" aria-hidden="true"></span>
                            <span class="p-button-label">Sign In</span></button></div>
                </div>
            </div>
        </div>
    </form>
</div>