img {
  opacity: 0.1;
}

.div1 {
  height: 100vh;
  width: 100%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.493);
}

body, html {
  height: 100vh;
  width: 100%;
}

.pi:before {
  color: #699668;
  font-size: 1.8rem;
}
.div1 ::ng-deep .p-toolbar{
  background: #f8f9fa73;
}
#CurrentUser{
  font-size:100%;
  color: #699668;
  right: 3%;
}