<body [ngStyle]="{'background' : 'url(./assets/fib.png)'}">
    <div class="div1">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <i class="pi pi-home" style="position: absolute;left:1.5%;" (click)="Home()"></i>
                <i class="pi pi-fast-backward" style="margin-left: 3%;position: absolute;" *ngIf="AppFlags[0]"
                    (click)="Documents()"></i>
                <i class="pi pi-refresh" style="left: 5%;position: absolute;" *ngIf="AppFlags[1]"
                    (click)="Documents()"></i>
            </ng-template>

            <ng-template pTemplate="right" >
                <div id="CurrentUser" *ngIf="ifLogin()">
                    Current User:{{CurrentUser}}
                </div>
            </ng-template>
        </p-toolbar>
        <router-outlet id="rout"></router-outlet>
    </div>
</body>