<div class="login-body">
  <form [formGroup]="createShareForem" (ngSubmit)="onSubmit()">
    <div class="login-panel p-fluid">
      <div class="login-panel-content">
        <div class="p-grid">
          <div class="p-col-12">
            <span class="p-float-label">
              <input id="float-input" type="text" pInputText formControlName="userID">
              <label>email adress</label>
            </span>
          </div>
          <div class="p-field p-col-12 p-md-4" style="width: 100%;padding-top:15px">
            <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="statuses" formControlName="statuse"
                optionLabel="name"></p-dropdown>
              <label for="dropdown">Dropdown</label>
            </span>
          </div>
          <div class="p-col-12">
            <button type="submit" icon="pi pi-user" label="Send" class="p-button p-component">
              <span class="p-button-icon p-button-icon-left pi pi-user" aria-hidden="true"></span>
              <span class="p-button-label">Send</span></button></div>
        </div>
      </div>
    </div>
  </form>
</div>