login-body {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-body .login-panel .login-panel-header {
    background-color: #607D8B;
    text-align: center;
    padding: 8px 14px;
}

.login-body .login-panel .login-panel-content {
    padding: 10px 20px;
}

.login-panel.p-fluid {
    margin-top: 3%;
}