/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px !important;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  }
#btmDialog{
    height: 20%;
    width: 50%;
    margin-top: 15px;
    color: rgb(235, 184, 17);
    border: 1px solid  rgb(5, 113, 163);
    border-radius: 10px;
    text-align: center;
    margin-left: 25%;
}
.dialogOp{
    border: 1px solid  rgb(5, 113, 163);
}
#dialogShare{
    color:  rgb(65, 58, 37);
    text-align: center;
}
#pDialoge{
    color:  rgb(235, 184, 17);
    font-size: xx-large;
}




