<div class="container" id="container1">
    <div id="inerContainer">
        <div id="h1">
            <h1>OnLine markup </h1>
            <h1>system on Pdf files</h1>
        </div>
        <div id="h4">
            <h4>
                Mark selected items on your pdf file
            </h4>
            <h4>
                Add comments, share with your friends
            </h4>
            <h4>
                And watch onLine change each other
            </h4>
            <h4>
                <a href="Login" style="color:#699668 ;">
                    signl in
                </a>
            </h4>
        </div>
    </div>
</div>
<div class="container" id="container2">
    <img id="img" src="assets/ccc .png" />
</div>
