.container {
    width: 50%;
    text-align: left;
    float: left;
}

#img {
    opacity: 1;
    margin-top: 0%;
    width: 100%;
    background-color: #cbecc5b3;
    border-radius: 10%;
    border: 1px solid #cbecc5b3;
}

#container1 {
    /* padding-top: 65px; */
    /* margin-top: 5%; */
    padding: 80px;
}

#container2 {
    margin-top: 2%;
    padding: 30px;
}

h1 {
    color: #699668;
}

h4 {
    color: #6fcc79;
}

#inerContainer {
    background-color: #c0f1c1cf;
    border-radius: 10%;
    text-align: center;
    margin-top: 20%;
}